<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wishsummer.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="io.github.wishsummer.domain.SysLogObject">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="INTEGER"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="logType" column="log_type" jdbcType="INTEGER"/>
            <result property="logName" column="log_name" jdbcType="VARCHAR"/>
            <result property="logUrl" column="log_url" jdbcType="VARCHAR"/>
            <result property="logIp" column="log_ip" jdbcType="VARCHAR"/>
            <result property="logLocation" column="log_location" jdbcType="VARCHAR"/>
            <result property="logParam" column="log_param" jdbcType="VARCHAR"/>
            <result property="jsonResult" column="json_result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="logTime" column="log_time" jdbcType="TIMESTAMP"/>
            <result property="costTime" column="cost_time" jdbcType="BIGINT"/>
    </resultMap>
<!--TODO error 解决-->
    <sql id="Base_Column_List">
        log_id,title,business_type,
        method,request_method,log_type,
        log_name,log_url,log_ip,
        log_location,log_param,json_result,
        status,error_msg,log_time,
        cost_time
    </sql>
</mapper>
